<div  id="header" >
  <div class="header" > 
    <div class="header-left">
      <h1><%=link_to 'Cart-app',root_path%></h1>
    </div>
    <ul class="header-right">
      <li><%=link_to 'Shop',items_path %></li>
      <li><%=link_to 'Cart',cart_path(current_cart.id) %></li>
    </ul>
    
     <div id="hamburger" class="nav">
      <span></span>
     </div>

     <div class="header-right-sp" id="sp-nav">
       <ul>
        <li><%=link_to 'Shop',items_path %></li>
        <li><%=link_to 'Cart',cart_path(current_cart.id) %></li>
        <li class="close nav"><span>閉じる</span></li>
       </ul>
     </div>
  </div>
</div>