<div id="top">
  <div class="wrapper-img">
    <%= image_tag 'cart.png' %>
  </div>
    <div class="intro-phots" >
      <div class="intro-photo" >
        <%= image_tag 'cart1.jpg' %>
      </div>
      <div class="intro-photo" >
        <%= image_tag 'cart2.jpg' %>
      </div>
      <div class="intro-photo" >
        <%= image_tag 'cart3.jpg' %>
      </div>
      <div class="intro-photo" >
        <%= image_tag 'cart4.jpg' %>
      </div>
    </div>
  </div>
  